@using Microsoft.AspNetCore.Mvc.Localization
@using static Lombiq.UIKit.Constants.Classes

@inject IHtmlGenerator HtmlGenerator

@{
    var customBlockClasses = Model.BlockClassName;
    var blockId = string.IsNullOrEmpty(Model.BlockId) ? string.Empty : $"id={Model.BlockId}";

    var labelAttributes = new Dictionary<string, object>
    {
        ["class"] = $"{DefaultTextboxLabelClass} "
    };

    var inputAttributes = new Dictionary<string, object>
    {
        ["class"] = $"{DefaultTextboxInputClass} "
    };

    var forModel = Model.For as ModelExpression;
    var isRequired = forModel.Metadata.RequiredAttrExists();
    if (isRequired)
    {
        inputAttributes["required"] = string.Empty;
        inputAttributes["class"] = inputAttributes["class"] + $"{DefaultTextboxInputClass}{RequiredModifier} ";
        labelAttributes["class"] = labelAttributes["class"] + $"{DefaultTextboxLabelClass}{RequiredModifier} ";
    }

    if (Model.Disabled == true)
    {
        inputAttributes["disabled"] = string.Empty;
        labelAttributes["class"] = labelAttributes["class"] + $"{DefaultTextboxLabelClass}{DisabledModifier} ";

    }

    var borderPositionClass = DefaultTextboxLabelClass + BorderPositionTopModifier;
    if (Model.LabelPosition == LabelPosition.None)
    {
        borderPositionClass = DefaultTextboxLabelClass + BorderPositionNoneModifier;
        labelAttributes["class"] = labelAttributes["class"] + $"{DefaultTextboxPlaceholderLabelClass} ";
    }
    else if (Model.LabelPosition == LabelPosition.Border)
    {
        borderPositionClass = DefaultTextboxLabelClass + BorderPositionBorderModifier;
        inputAttributes["class"] = inputAttributes["class"] + $"{DefaultTextboxInputClass}{BorderLabelInputModifier}";
    }

    labelAttributes["class"] = labelAttributes["class"] + $"{borderPositionClass} ";

    var hasAsteriksInPlaceholder = Model.LabelPosition == LabelPosition.None && isRequired;
    var placeholder = (Model.Placeholder as LocalizedHtmlString)?.Value;
    if (!string.IsNullOrEmpty(placeholder) && !hasAsteriksInPlaceholder)
    {
        inputAttributes["placeholder"] = placeholder;
    }

    var noLabelAndNotRequired = Model.LabelPosition == LabelPosition.None && !isRequired;
    var label = noLabelAndNotRequired
        ? null
        : HtmlGenerator.GenerateLabel(
            Model.ViewContext,
            forModel.ModelExplorer,
            forModel.Name,
            hasAsteriksInPlaceholder
                ? placeholder
                : (Model.Label as LocalizedHtmlString)?.Value,
            labelAttributes);

    var input = HtmlGenerator.GenerateTextBox(
        Model.ViewContext,
        forModel.ModelExplorer,
        forModel.Name,
        forModel.Model,
        string.Empty,
        inputAttributes);

    var containerIconClass = string.IsNullOrEmpty(Model.IconClasses)
        ? string.Empty
        : DefaultTextBoxBlockName + IconLeftModifier;
}

<style asp-src="~/Lombiq.UIKit/css/textBox.min.css" debug-src="~/Lombiq.UIKit/css/textBox.css"></style>
<script asp-src="~/Lombiq.UIKit/js/textBoxEditor.js" at="Foot" depends-on="jQuery"></script>

<div @blockId class="@DefaultTextBoxBlockName @customBlockClasses @containerIconClass">

    @if (hasAsteriksInPlaceholder)
    {
        <div class="@DefaultTextboxPlaceholderClass">
            @label
            <span class="@DefaultTextboxAsteriskClass">*</span>
        </div>
    }
    else
    {
        @label
    }

    @if (!string.IsNullOrEmpty(Model.IconClasses))
    {
        <span class="@DefaultTextboxIconContainerClass">
            <i class="@Model.IconClasses @DefaultTextboxIconClass"></i>
        </span>
    }

    @input

    @if (!string.IsNullOrEmpty(Model.Hint))
    {
        <div class="hint @DefaultTextboxHintClass">@Model.Hint</div>
    }
</div>
