@model ShowcaseViewModel

@{
    var dropDownData = new List<DropDownItem>
{
        new DropDownItem(){ Text = T["Text 1"], DataState = true, DataClass = "dropDownEditor__button_success"},
        new DropDownItem(){ Text = T["Long Text 2"], DataState = false, DataClass = "btn-danger"},
    };

    var dropDownData2 = new List<DropDownItem>
{
        new DropDownItem(){ Text = T["Text 1"], DataState = Status.Approved, DataClass = "dropDownEditor__button_success"},
        new DropDownItem(){ Text = T["Text 2"], DataState = Status.Denied, DataClass = "btn-danger"},
        new DropDownItem(){ Text = T["Long Text 2"], DataState = Status.Pending, DataClass = "btn-warning"},
    };
}

<div style="background:white; overflow: auto; display: flex;align-items: flex-start;justify-content: center;">
    <div style="width:30%; padding: 1.5em;">

        <h1>@T["Textbox:"]</h1>

        <h4>@T["No label."]</h4>
        <editor type="TextBox"
                for="@Model.TextBox1"
                labelPosition="@LabelPosition.None"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox2"
                labelPosition="@LabelPosition.None"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox2"
                labelPosition="@LabelPosition.None"
                icon="fab fa-linkedin"
                placeholder="@T["Placeholder"]" />

        <editor type="TextBox"
                for="@Model.TextBox2Disabled"
                labelPosition="@LabelPosition.None"
                icon="fab fa-linkedin"
                placeholder="@T["Placeholder"]"/>

                labelPosition="@LabelPosition.None"
                placeholder="@T["Email"]"
                Disabled="true" />

        <h4>@T["Label top."]</h4>
        <editor type="TextBox"
                for="@Model.TextBox3"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Top"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox4"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Top"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox4Disabled"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Top"
                placeholder="@T["Email"]"
                Disabled="true" />

        <h4>@T["Label on border."]</h4>
        <editor type="TextBox"
                for="@Model.TextBox5"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Border"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox6"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Border"
                placeholder="@T["Email"]" />

        <editor type="TextBox"
                for="@Model.TextBox6Disabled"
                label="@T["Email"]"
                labelPosition="@LabelPosition.Border"
                placeholder="@T["Email"]"
                Disabled="true" />
    </div>
    <div style="width:30%; padding: 1.5em;">

        <h1>@T["Checkbox:"]</h1>

        <h4>@T["Label on right"]</h4>
        <editor Type="CheckBox"
                for="@Model.CheckboxFalse1"
                label="@T["Default false, required"]" />

        <editor Type="CheckBox"
                for="@Model.CheckboxFalse2"
                label="@T["Default false"]" />

        <editor Type="CheckBox"
                for="@Model.CheckboxFalse2Disabled"
                label="@T["Default false"]"
                Disabled="true" />

        <h4>@T["Label on left"]</h4>
        <editor Type="CheckBox"
                for="@Model.CheckboxTrue1"
                label="@T["Default true, required"]"
                labelPosition="@LabelPosition.Left" />

        <editor Type="CheckBox"
                for="@Model.CheckboxTrue2"
                label="@T["Default true"]"
                labelPosition="@LabelPosition.Left" />

        <editor Type="CheckBox"
                for="@Model.CheckboxTrue2Disabled"
                label="@T["Default true"]"
                labelPosition="@LabelPosition.Left"
                Disabled="true"/>

    </div>
    <div style="width:30%; padding: 1.5em;">
        <h1>@T["Bootstrap dropdown:"]</h1>

        <h4>@T["Hide selected from list"]</h4>
        <editor type="DropDown"
                for="@Model.DropDown"
                DropDownContainerId="downContainerId2"
                ButtonContainerId="buttonContainerId2"
                ButtonId="buttonId2"
                DropDownData="@dropDownData"
                Label="@T["Dropdown 1"]"
                HideSelectedFromDropDownList="true" />

        <editor type="DropDown"
                for="@Model.DropDownDisabled"
                DropDownContainerId="downContainerId2"
                ButtonContainerId="buttonContainerId2"
                ButtonId="buttonId2"
                DropDownData="@dropDownData"
                Label="@T["Dropdown 1"]"
                HideSelectedFromDropDownList="true"
                Disabled="true" />

        <h4>@T["Don't hide selected from list"]</h4>
        <editor type="DropDown"
                for="@Model.Status"
                DropDownContainerId="downContainerId1"
                ButtonContainerId="buttonContainerId1"
                ButtonId="buttonId1"
                Label="@T["Dropdown 2"]"
                DropDownData="@dropDownData2" />

        <editor type="DropDown"
                for="@Model.StatusDisabled"
                DropDownContainerId="downContainerId1"
                ButtonContainerId="buttonContainerId1"
                ButtonId="buttonId1"
                Label="@T["Dropdown 2"]"
                DropDownData="@dropDownData2"
                Disabled="true"/>
    </div>
</div>
